body{
    background-image: url(background.jpg);
}

h1 {
  color: white;
  font-family: Verdana, Geneva, sans-serif
}

a {
  font-family: Verdana, Geneva, sans-serif
}

h4 {
  color: white;
  font-family: Verdana, Geneva, sans-serif;
}

.title{
  justify-content: center;
}

.btn {
  border: none;
  background-color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  border-radius: 100px;
}

/* On mouse-over */
.btn:hover {
  background: #1DB954;
}
